<!DOCTYPE html>
<html>
    <head>
        <title>Sudoku Solver</title>

        {% load staticfiles %}
        <!-- CSS stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'solver/normalize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'solver/style.css' %}"/>
        <!-- jQuery 3.4.1 CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'solver/input.js' %}"></script>
        <script type="text/javascript" src="{% static 'solver/reset.js' %}"></script>
        <script type="text/javascript" src="{% static 'solver/solve.js' %}"></script>
    </head>

    <body>
        <h1 id="header">Sudoku Solver</h1> 
        <div class="container">
            <table>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr class="btm-bold-border">
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr class="btm-bold-border">
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
            </table>
            <div class="btn-group">
                <button id="reset">Reset</button>
                <button id="solve">Solve</button>    
            </div>
        </div>
    </body>
</html>