<!DOCTYPE html>
<html>
    <head>
        <title>Sudoku Solver</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}
        <!-- Icon image -->
        <link rel="icon" type="image/png" sizes="64x64" href="{% static 'solver/icons/icon.png' %}">

        <!-- CSS stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'solver/css/normalize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'solver/css/style.css' %}"/>

        <!-- jQuery 3.4.1 CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'solver/js/input.js' %}"></script>
        <script type="text/javascript" src="{% static 'solver/js/reset.js' %}"></script>
        <script type="text/javascript" src="{% static 'solver/js/solve.js' %}"></script>
    </head>

    <body>
        <div id="header">
            <img src="{% static 'solver/icons/logo.png' %}" alt="logo"/>    
        </div>
        <div class="container">
            <table>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr class="btm-bold-border">
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr class="btm-bold-border">
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
                <tr>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td class="rt-bold-border"><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                    <td><input type="tel" maxlength="1"></td>
                </tr>
            </table>
            <div class="btn-group">
                <button id="reset">Reset</button>
                <button id="solve">Solve</button>    
            </div>
        </div>
        <div id="footer">
            <footer>
                <i>Created my free logo at <a href="https://my.logomakr.com/">LogoMakr.com</a></i>
            </footer>            
        </div>

    </body>
</html>